<div id="formasDePagamentoNovo">
				<!-- Área de Pagamento e anexo de recibos   -->
						<div class="row">
							
							<div class="col-md-9 col-sm-6 form-group ">
							
							</div>
							<div class="col-md-3 col-sm-6 form-group">
								<button class="btn btn-warning form-control" id="bntVinculaEmpresa">
									<i class="fluigicon fluigicon-adduser icon-sm"></i>Vincular Empresa Cliente
								</button>
							</div>
						</div>
						<div class="row" id="pagamentosRecibos">
							<div class="col-md-4 col-sm-6 form-group">
								<label for="formaPagamento">Forma de Pagamento</label> <select
									class="form-control" name="formaPagamento"
									id="formaPagamento">
									<option value="0">Selecione a forma de
										Pagamento...</option>
									<option value="1">Cartão de Débito</option>
									<option value="2">Cartão de Crédito</option>
									<option value="3">Depósito Identificado</option>
									<option value="4">Boleto Bancário</option>

								</select>
							</div>
							<div class="col-md-2 col-sm-6 form-group" id="percentRateioDiv">
								<label for="rateioSebrae"><strong>% Sebrae</strong></label>
								<input type="number" name="rateioSebrae" id="rateioSebrae" class="form-control"  value="0">							
							
							</div>
							<div class="col-md-3 col-sm-6 form-group" id="valorSebraeDiv">
								<label for="valorSebrae"><strong>R$ Sebrae</strong></label>
								<input type="text" name="valorSebrae" id="valorSebrae" class="form-control" readonly>							
							
							</div>
							<div class="col-md-3 col-sm-6 form-group" id="valorClienteDiv">
								<label for="valorCliente"><strong>R$ Cliente</strong></label>
								<input type="text" name="valorCliente" id="valorCliente" class="form-control" readonly >							
							
							</div>
							<!--  
							<div class="col-md-2 form-group">
								<button class="btn btn-danger form-control" id="bntCadClienteAcesso">
									<i class="fluigicon fluigicon-adduser icon-sm"></i>Acesso do Cliente
								</button>
							</div>
								-->
						</div>
						<!-- pagamentosRecebidos -->
						<!-- boletos  -->
						<div id="boletoHidden">
							<div class="row">
								<!-- Button para anexo  -->
								<div class="col-xs-4 col-sm-6 form-group col-md-3">
									<label>Boleto de Pagamento</label>
									<div class="panel panel-default">
										<div class="panel-body">

											<input type="hidden" name="hiddenAnexarReciboBoleto"
												id="hiddenAnexarReciboBoleto"> <label
												class="file-upload btn btn-sm btn-info"> <span
												class="fluigicon fluigicon-paperclip icon-xl"
												style="font-size: initial;"></span>Anexar Boleto <input
												type="file" name="anexaReciboBoleto"
												id="anexaReciboBoleto" class="docAnexo"
												name-hidden="hiddenAnexarReciboBoleto">
											</label>
										</div>
									</div>
								</div>
								<!-- Button para anexo -->
								<div class="col-md-2 col-sm-6 form-group">
									<label for="dataBoletoPagamento">Data</label> <input
										type="text" class="form-control"
										name="dataBoletoPagamento" id="dataBoletoPagamento"
										placeholder="00/00/0000">
								</div>
								<div class="col-md-2 col-sm-6 form-group">
									<label for="valorBoletoPagamento">Valor</label> <input
										type="text" class="form-control"
										name="valorBoletoPagamento" id="valorBoletoPagamento"
										placeholder="0.00">
								</div>
								<div class="col-md-5 col-sm-6 form-group">
									<label for="identificadorBoletoPagamento">Identificador</label>
									<input type="text" class="form-control"
										name="identificadorBoletoPagamento"
										id="identificadorBoletoPagamento" placeholder="...">
								</div>




							</div>
							<!-- row -->
							<div class="row">
								<div class="col-md-4 col-sm-6 form-group">
									<label for="condicaoBoletoPagamento">Condição de
										Pagamento</label> <select class="form-control"
										name="condicaoBoletoPagamento"
										id="condicaoBoletoPagamento">

										<option value="1">À vista</option>


									</select>
								</div>
							</div>

						</div>
						<!-- boletoHidden end -->
						<div id="depositoHidden">
							<div class="row">
								<!-- Button para anexo  -->
								<div class="col-xs-4 col-sm-6 form-group col-md-3">
									<label>Comprovante de Depósito</label>
									<div class="panel panel-default">
										<div class="panel-body">

											<input type="hidden" name="hiddenAnexarReciboDeposito"id="hiddenAnexarReciboDeposito"> 
											<label class="file-upload btn btn-sm btn-success">
												 <span class="fluigicon fluigicon-paperclip icon-xl" style="font-size: initial;"></span>
												Anexar Comprovante de Depósito
												<input type="file" name="anexaReciboDeposito" id="anexaReciboDeposito" class="docAnexo" name-hidden="hiddenAnexarReciboDeposito">											
											</label>
										</div>
									</div>
								</div>
								<!-- Button para anexo -->
								<div class="col-md-2 col-sm-6 form-group">
									<label for="dataDepositoPagamento">Data</label> <input
										type="text" class="form-control"
										name="dataDepositoPagamento" id="dataDepositoPagamento"
										placeholder="00/00/0000">
								</div>
								<div class="col-md-2 col-sm-6 form-group">
									<label for="valorDepositoPagamento">Valor</label> <input
										type="text" class="form-control"
										name="valorDepositoPagamento" id="valorDepositoPagamento"
										placeholder="0.00">
								</div>
								<div class="col-md-5 col-sm-6 form-group">
									<label for="identificadorDepositoPagamento">Identificador</label>
									<input type="text" class="form-control"
										name="identificadorDepositoPagamento"
										id="identificadorDepositoPagamento" placeholder="...">
								</div>



							</div>
							<!-- row -->
							<div class="row linkDeposito">
								<div class="col-md-4 col-sm-6 form-group">
									<label for="condicaoDepositoPagamento">Condição de
										Pagamento</label> <select class="form-control"
										name="condicaoDepositoPagamento"
										id="condicaoDepositoPagamento" disabled>
										<option value="1">À vista</option>


									</select>
								</div>

							</div>
							<!-- row -->

						</div>
						<!-- depositoHidden end -->
						<div id="cartaoHidden">
							<div class="row">
								<!-- Button para anexo  -->
								<div class="col-xs-4 col-sm-6 form-group col-md-3">
									<label>Recibo Maquineta</label>
									<div class="panel panel-default">
										<div class="panel-body">

											<input type="hidden" name="hiddenAnexarReciboMaquineta"
												id="hiddenAnexarReciboMaquineta"> <label
												class="file-upload btn btn-sm btn-warning"> <span
												class="fluigicon fluigicon-paperclip icon-xl"
												style="font-size: initial;"></span>Anexar Recibo
												Maquineta <input type="file" name="anexaReciboMaquineta"
												id="anexaReciboMaquineta" class="docAnexo"
												name-hidden="anexaReciboMaquineta">
											</label>
										</div>
									</div>
								</div>
								<!-- Button para anexo -->
								<div class="col-sm-6 form-group col-md-3">
									<label class="control-label" for="dataMaquinetaPagamento">Data
										da Transação</label> <input type="text"
										name="dataMaquinetaPagamento" id="dataMaquinetaPagamento"
										class="form-control" value="">
								</div>
								<div class="col-sm-6 form-group col-md-3">
									<label class="control-label" for="valorMaquinetaPagamento">Valor</label>
									<input type="text" name="valorMaquinetaPagamento"
										id="valorMaquinetaPagamento" class="form-control"
										placeholder="0.00" value="">

								</div>
								<div class="col-sm-6 form-group col-md-3">
									<label class="control-label" for="codMaquinetaPagamento">Código
										da Autorização</label> <input type="text"
										name="codMaquinetaPagamento" id="codMaquinetaPagamento"
										class="form-control" placeholder="000000">

								</div>

							</div>
							<!-- row -->
							<div class="row">
								<div class="col-md-4 col-sm-6 form-group">
									<label for="bandeiraMaquinetaPagamento">Bandeira</label> <select
										class="form-control" name="bandeiraMaquinetaPagamento"
										id="bandeiraMaquinetaPagamento">
										<option value="visa">VISA</option>
										<option value="master">MASTERCARD</option>
										<option value="diners">DINERS</option>
										<option value="amex">AMEX</option>
										<option value="credsystem">CREDSYSTEM</option>
										<option value="elo">ELO</option>
										<option value="hipercard">HIPERCARD</option>


									</select>
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="condicaoMaquinetaPagamento">Condição de
										Pagamento</label> <select class="form-control"
										name="condicaoMaquinetaPagamento"
										id="condicaoMaquinetaPagamento">
										<option value="1">À vista</option>
										<option value="2">2 parcelas</option>
										<option value="3">3 parcelas</option>
										<option value="4">4 parcelas</option>
										<option value="5">5 parcelas</option>
										<option value="6">6 parcelas</option>
										<option value="7">7 parcelas</option>
										<option value="8">8 parcelas</option>
										<option value="9">9 parcelas</option>
										<option value="10">10 parcelas</option>
										<option value="11">11 parcelas</option>
										<option value="12">12 parcelas</option>

									</select>
								</div>

							</div>
							<!-- row -->

						</div>
						<!-- cartaoHidden end -->
						<!-- Área de Pagamento e anexo de recibos   -->
						<div class="row" class="form-group" id="movimentoRecibo">

							<div class="col-xs-12 col-sm-6 form-group col-md-4 ">


								<button class="btn btn-success form-control"
									id="bntEmtContrato" >
									<i class="fluigicon fluigicon-file-pdf icon-sm"></i>Emitir
									Contrato
								</button>

							</div>
							<div class="col-xs-3 col-sm-6 form-group col-md-4 ">

								<button class="btn btn-warning form-control "
									id="bntEmtRecibo" >

									<i class="fluigicon fluigicon-file-pdf icon-sm"></i>Emitir
									Recibo de Pagamento
								</button>

							</div>

							<div class="col-xs-12 col-sm-6 form-group col-md-4 ">
								<button class="btn btn-success form-control "
									id="bntlancMovimento" onclick="geraMovimento();">
									<i class="fluigicon fluigicon-verified icon-sm"></i>Gerar movimento Financeiro (RM)
									
								</button>



							</div>

						</div>
				
				</div><!-- formasDePagamentoNovo -->