.input-group-addon {
	background: #3c9dc1;
	color: white !important;
}

.fluig-style-guide .input-group-addon {
	background: #007ac3;
}

.select2-fluigicon-zoom {
	background: #3c9dc1;
}

.fluigicon-zoom-in {
	color: white !important;
}

.fluigicon-trash {
	color: red !important;
}

.fluigicon-calendar {
	color: white !important;
}

.t0 label {
	font-weight: bold;
}

.bpm-mobile-trash-column {
	background: #007ac3;
}
#buscaFornecedor{

	margin-top: 20px;
}
#cadClienteSASOutros{
	margin-top: 20px;
}
/*
.fluigicon-file-pdf {
	margin-top: 22px;
	margin-right: 3px;
}

#bntEmtContrato {
	margin-top: 10px;
}
*/
#radioRecebimentoOk {
	margin-top: 22px;
}

.radioCinza {
	background-color: gray;
	height: 75px;
	padding-top: 30px;
}

#cadClienteSASRM {
	margin-top: 22px;
}
#buscarConsultoriasData{
	
	margin-top: 22px;
}

#cartaoHidden {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}
#formasDePagamentoNovo {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}
/*
#rateio {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}

#discount {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}
*/
#depositoHidden {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}

#boletoHidden {
	border: 1px solid gray;
	padding: 20px;
	border-radius: 7px;
	padding: 20px 10px 10px 20px;
}
/*
#bntEmtContrato {
	margin-top: 10px;
}
*/
label.file-upload {
	position: relative;
	overflow: hidden;
}


label.file-upload input[type=file] {
		    position: absolute;
		    top: 0;
		    right: 0;
		    min-width: 100%;
		    min-height: 100%;
		    font-size: 100px;
		    text-align: right;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: 0;
		    background: #fff;
		    cursor: inherit;
		    display: block
		}

#fileStatus {
	color: red;
}

#movimentoRecibo {
	padding-top: 25px;
}

#consFornecedorConsult{
	margin-top:20px;
}